.header{
    padding-top: 50px;
    width: 1100px;
    height: 48px;
    margin: 0 auto;
   margin-bottom: 53px;
}

.link {
    margin: 0 40px 0 80px;
}

.header-btn{
    height: 48px;
    width: 153px;
    border-radius: 20px;
    background-color: rgb(44,98,105);
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.logo{
    font-size: 40px;
}