<div class="top-section">
<app-header></app-header>
  <div class="up-container flex">
    <img src="../assets/images/bg-pattern-home-1.svg" class="home1">
    <div class="up-container-no-img flex">
    <div class="middle-title">
   <h1>Find the</h1>
   <h1>best <span class="orange">talent</span> </h1> 
  </div>
  <div class="right-paragraph">
    <p>Finding the right people and building high</p>
      <p>performing teams can be hard. Most companies</p>
        <p>aren’t tapping into the abundance of global talent.</p>
        <p>  We’re about to change that.</p>
  </div>
</div>
  </div>
  <div  class="img2-container">
  <img src="../assets/images/bg-pattern-home-2.svg" >
</div>
</div>

<div class="middle-section">
<div class="middle-section-body flex">
<div class="middle-section-left">
  <h1>Build & manage</h1>
  <h1>distributed teams</h1>
  <h1>like no one else.</h1>
</div>
<div class="middle-section-right">
  <div class="middle-section-right-top flex-no-space">
<img src="../assets/images/icon-person.svg" class="middle-section-img">
<div class="middle-section-text">
<h3 class="orange">Experienced Individuals</h3>
<p>Our network is made up of highly experienced professionals</p>
<p>who are passionate about what they do.</p>
</div>
</div>
  <div class="middle-section-right-middle flex-no-space">
<img src="../assets/images/icon-cog.svg" class="middle-section-img">
<div class="middle-section-text">
<h3 class="orange">Easy to Implement</h3>
<p>Our processes have been refined over years of implementation </p>
<p>meaning our teams always deliver.</p>
</div>
</div>
  <div class="middle-section-right-bottom flex-no-space">
<img src="../assets/images/icon-chart.svg" class="middle-section-img">
<div class="middle-section-text">
<h3 class="orange">Enhanced Productivity</h3>
<p>Our customized platform with in-built analytics helps you</p>
<p> manage your distributed teams.</p>
</div>
</div>
</div>

</div>
<div class="img3">
  <img src="../assets//images//bg-pattern-home-3.svg" alt="" srcset="">
</div>
</div>

<div class="bottom-section">
  <img src="../assets/images/bg-pattern-home-4-about-3.svg" class="img4">
<div class="bottom-section-body">
  <h1>Delivering real results for top</h1>
    <h1>companies. Some of our success stories.</h1>
    <div class="qoutes flex">
      <div class="left-qoute">
      <p> “The team perfectly fit the specialized skill set</p>
      <p>required. They focused on the most essential</p>
      <p>features helping us launch the platform eight</p>
      <p> months faster than planned.”</p>
      <h3>Kady Baker</h3>
      <p>Product Manager at Bookmark</p>
      <img src="../assets/images/avatar-kady.jpg" class="avatar">
    </div>
      <div class="middle-qoute">
        <p> “We needed to automate our entire onboarding   </p>
      <p>process. The team came in and built out the</p>
      <p>whole journey. Since going live, user retention</p>
      <p> has gone through the roof!”</p>
      <h3>Aiysha Reese</h3>
      <p>Founder of Manage</p>
      <img src="../assets/images/avatar-aiysha.jpg" class="avatar">
    </div>
      <div class="right-qoute">
      <p> “Amazing. Our team helped us build an app that  </p>
      <p>delivered a new experience for hiring a physio.</p>
      <p> The launch was an instant success with 100k</p>
      <p> downloads in the first month.” </p>
      <h3>Arthur Clarke</h3>
      <p>Co-founder of MyPhysio</p>
      <img src="../assets/images/avatar-arthur.jpg" class="avatar">
    </div>
    </div>
    </div>
    
  <img src="../assets/images/bg-pattern-home-5.svg" class="img5">

</div>

  <app-footer></app-footer>

